.b {
    background-color: black;
    margin: 0;
    padding: 0;
}

.mhd {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
}

.aa {
    height: 100%;
    max-height: 50px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    padding-left: 16px;
    margin-top: 50px;
}
.logosvg{
padding-left: 0;
}

.title f-f-f {
    font-family: 'Montserrat';
}

.title {
    margin-top: 0px;
    padding-left: 10px;
    font-family: 'Montserrat';
}

.tsb {
    margin-top: 35px;
    font-size: 16px;
    color: white;
    font-weight: 400;
    height: 51px;
    width: 100%;
    max-width: 200px;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    border: 1px solid #F5F5F5;
}

.tsb:hover {
    background-color: red;
}

.icon {
    display: flex;
    padding-left: 16px;
    margin-top: 150px;

}

.ctext {
    color: white;
    font-size: 36px;
}

.cp {
    font-size: 60px;
    font-weight: 300;
    font-family: 'Montserrat';
}

.ctext2 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Montserrat';
}

.cp2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    color: #a3a3a3;
    width: 600px;
    font-family: 'Montserrat';
}

.email {
    width: 100%;
    max-width: 600px;
    height: 70px;
    border-radius: 50px;
    background-color: #262626;
    border: none;
    color: white;
}

.button {
    position: relative;
    right: 188px;
    background-color: #0585F2;
    height: 60px;
    width: 250px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 50px;
    border: solid 1px white;
    margin-top: 5px;
    cursor: pointer;

}

.fsea {
    display: flex;
    padding-left: 16px;
}

.left {
    margin-top: 150px;
    padding-right: 16px;
}

.imgpng {
    margin-top: 0;
}

.workt {
    display: flex;
    font-family: 'Montserrat';
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    color: white;
    margin-top: 150px;
    font-size: 60px;
    font-weight: 700;
    padding-left: 16px;
}

.workpt {
    font-size: 16px;
    font-weight: 300;
    width: 300px;
}

.forimg {
    width: 100%;
    max-width: 1240px;
    height: 728px;
    margin-top: 10px;
    background: #404040;
    border-radius: 10px;
    margin-left: 16px;
}

.new {
    font-family: 'Montserrat';
    font-weight: 300;
    color: white;
    font-size: 48px;
    margin-top: 150px;
    padding-left: 16px;
}

.new2 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Montserrat';
}

.new3p {
    color: white;
    font-size: 20px;
    color: #a3a3a3;
}

.gc {
    display: flex;
    gap: 25px;
    padding-left: 16px;
    margin-top: 150px;
}

.box1 {
    background: #262626;
    padding-left: 33px;
    padding-top: 33px;
    height: 274px;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
}

.box1m {
    font-family: 'Montserrat';
    color: white;
    font-size: 36px;
    font-weight: 700;
    padding-top: 10px;
}

.box1p {
    padding-top: 10px;
    font-size: 16px;
    color: #a3a3a3;
}

.nn {
    margin-top: 150px;
    color: white;
    font-size: 60px;
    padding-left: 16px;
    font-weight: 300;
    font-family: 'Montserrat';
}

.nspan {
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.bnp {
    font-size: 16px;
    color: #a3a3a3;
}

.svg152 {
    width: 100%;
    margin-top: 150px;
}
.svg251{
margin: 0;
}

.rww {
    margin-top: 150px;
    color: white;
    font-size: 36px;
    font-weight: 300;
    padding-left: 16px;
    font-family: 'Montserrat';
}

.rww1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Montserrat';
}

.rww2 {
    color: #a3a3a3;
    font-size: 16px;
}


.gc2 {
    display: flex;
    gap: 25px;
    padding-left: 16px;
    margin-top: 150px;
}

.box2 {
    background: #262626;
    padding-left: 33px;
    padding-top: 33px;
    height: 274px;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
}

.box2m {
    font-family: 'Montserrat';
    color: white;
    font-size: 32px;
    font-weight: 700;
    padding-top: 10px;
}

.box2p {
    align-items: center;
    padding-top: 10px;
    font-size: 18px;
    color: #a3a3a3;
}

.percnt {
    color: white;
    font-size: 48px;
    font-weight: 500;
}

.spanb {
    align-items: center;
    font-size: 20px;
    color: white;
}

.try {
    background-image: url(./IMGf/blueiimage.png);
    width: 100%;
    max-width: 1280px;
    height: 436px;
    padding-left: 16px;
    margin-top: 150px;
    color: white;
}

.tteaxt {
    padding-left: 128px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 300;
}

.tspan {
    font-size: 60px;
    font-weight: 700px;
    font-family: 'Montserrat';
}

.ttp {
    font-size: 16px;
    color: #a3a3a3;
}

.tts {
    width: 600px;
    height: 70px;
    background-color: #262626;
    border-radius: 50px;
    border: none;
}

.ttsb {
    position: relative;
    color: white;
    right: 23%;
    height: 70px;
    width: 100%;
    max-width: 250px;
    background-color: #0585F2;
    cursor: pointer;
    border-radius: 50px;
    border: solid 1px white;

}

.footer {
    width: 100%;
    max-width: 1280;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.pptc {
    width: 100%;
    max-width: 1280px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    margin-top: 50px;

}

.allrr {
    width: 100%;
    max-width: 1280px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.flsvg{
    padding: 0;
}
.frsvg{
    padding: 0;
}

@media (max-width:720px) {

    .mhd {
        width: 320px;
    }

    .aa {
        width: 320px;
    }
    .logosvg {
        width: 50px;
    
    }

    .title {
        padding-left: 5px;
        font-size: 18px;
    }

    .tsb {
        font-size: 8px;
        width: 100px;
        height: 30px;
    }

    .icon {
        width: 320px;
    }

    .ctext {
        width: 160px;
    }

    .cp {
        font-size: 20px;
        width: 160px;
    }

    .ctext2 {
        font-size: 20px;
    }

    .cp2 {

        font-size: 10px;
        padding-left: 0px;
        width: 160;
    }

    .left {
        width: 160px;
        margin-top: 0px;
        padding-right: 0px;
    }
    .imgpng {
        margin-top: 0;
        width: 160px;
    }
    .workt {
        width: 320px;
        font-size: 20px;
    }
    .fsea {
    width: 320px;
    }
    .email {
        width: 320px;
        height: 30px;
    }

    .button {
        position: relative;
        bottom: 5px;
        right: 115px;
        width: 125px;
        height: 29px;
        font-size: 10px;
    }
    .workpt {
        font-size: 10px;
        width: 190px;
    }
    .forimg {
        width: 300px;
        height: 300px;
    }
    .gc {
        width: 320px;
        flex-direction: column;
    }
    .box1 {
        width: 260px;
    }
    .box1m {
        font-size: 28px;
        padding-top: 10px;
    }
    .box1p {
        padding-top: 10px;
        font-size: 14px;
        color: #a3a3a3;
    }
    .nn {
        font-size: 20px; 
    }
    .nspan {
        font-size: 20px;
    }
    .svg251 {
        width: 300px;
    }
    .new {
        font-size: 20px;
    }
    .new2 {
        font-size: 20px; 
    }
    .new3p {
        font-size: 20px;
    }
    .rww {
        font-size: 20px;
    }
    .rww1 {
        font-size: 20px;
        
    }
    .gc2 {
        width: 320px;
        flex-direction: column;
    }
    .box2 {
        width: 260px;
    }
    .box2m {
        font-size: 28px;
        padding-top: 10px;
    }
    .box2p {
        padding-top: 10px;
        font-size: 14px;
        color: #a3a3a3;
    }
    .try {
       width: 320px;
    }
    .tteaxt {
        font-size: 20px;
        padding-left: 0;
    }
    .tspan {
        font-size: 20px;
    }
    .ttp {
        font-size: 8px;
    }
    .tts {
        width: 300px;
        height: 30px;
    }
    .ttsb {
        position: relative;
        left: 147px;
        bottom: 30px;
        height: 28px;
        width: 150px;
        font-size: 8px;
    }
    .footer {
        width: 320px;
    }
    .pptc {
        
        width: 300px;
        font-size: 12px;
    }
    .allrr {
        width: 300px;
        font-size: 9px;
    }
    .flsvg {
    width: 100px;
    }
    .frsvg {
        width: 100px;
        padding-right: 30px;
        }
}
@media(min-width:720px)
{
    .container{
        width: 100%;
    }
}
